#hour{
    font-size: 6rem;
    color: #3887d1;
}

p{
    font-size: 1rem;
    color: black;
}

#min{
    font-size: 5rem;
    color: #3887d1;
}

#sec{
    font-size: 2rem;
    color: black;
}

*{
    text-align: center;  
    background-color:#e4e9f2;  
}

button{
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: large;
    background-color: #3887d1;
    color: black;
    border-radius: 5px;

}

@media only screen and (max-width: 600px) {
    p{
      width: 100%;
      height: auto;
    }
  }
